.avatar-lg {
  max-height: 150px;
  max-width: 150px;
}

.avatar-sm {
  max-height: 100px;
  max-width: 100px;
}

a {
  outline: none;
}

body {
  background-color: rgba(10,10,255,0.2);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Center the table. */
body table {
    margin-left:auto;
    margin-right:auto;
}

.btn-submit {
  float: right;
  margin: 3%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
}

footer p {
  color: #f22;
  font-weight: bold;
}

.form-content {
  margin-left: 33%;
  margin-right: 33%;
}

.form-control {
  margin-bottom: 4%;
  margin-top: 4%;
}

h1 {
  color: #4f0000;
  font-weight: bold;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

header input {
  float: right;
}

hr {
  background-color: black;
  height: 3px;
}

.icon {
  max-height: 30px;
  max-width: 30px;
}

img {
  image-orientation: from-image;
  margin-bottom: 1.5%;
}

nav {
  margin-left: 0%;
  margin-right: 0%;
}

nav a {
  color: white;
}

nav a:hover {
  color: lightgrey;
}

nav input {
  float: right;
  margin: 0.5%;
}

nav input:hover {
  background-color: white;
}