extends ../layout/without-header

block without-header-content
  div(class="container text-center")
    div(class="content")
      div(class="col-md-4")
        img(class="img-thumbnail avatar-lg" src='/' + user_param.avatar)
        br
        h3 #{user_param.username}
        p Favorite trick: #{user_param.favoriteTrick}
        - const EDIT_URL = '/users/' + user_param.username + '/edit'
        - if (user && (user.username == user_param.username)) {
          a(href=EDIT_URL): img(class="icon" id="pencil_edit" src="/img/pencil.png")
          a(href=EDIT_URL) Edit profile
        - }