extends ../layout

block content
  div(class="container text-center")
    div(class="col-md-4")
    div(class="col-md-4")
      p This is the profile page for #{user_param.username}.
      p "#{user_param.favoriteTrick}" is #{user_param.username}'s favorite Boomer trick!
    div(class="col-md-4")