extends layout

block content
  div(class="container text-center")
    div(class="col-md-2")
    div(class="col-md-8")
      p Oh dear... the requested URL #{url} is not available on this server (404 Error).
    div(class="col-md-2")