extends layout

block content
  div(class="container text-center")
    img(class="img-thumbnail" src="/img/boomer.jpg")
    p Welcome to Boomer's webpage. Boomer lives with his loving family in Ortonville, MI. He enjoys running around the yard, playing games, and snuggling up in his red blanket.
    p Boomer loves food! Some of his favorite delicacies are bacon, filet mignon, and chicken; however, he will consume #[em almost] anything. When someone drops food, Boomer quickly devours the mess like a sentient vaccuum cleaner.
    p Thank you for visiting Boomer's webpage! Here you will find pictures, news, stories, and all things considering the world's most loveable hound!