doctype html
html
  head
    title Boomer Central
    link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    nav(class="navbar navbar-inverse")
      a(class="navbar-brand" href="/") Boomer Central
      - if (user)
        form(action="/logout", method="post")
          input(class="btn logout-btn" type="submit" value="Logout")
      - else
        input(class="btn login-btn" type="button" value="Login" onclick="location.href='/login';")
        input(class="btn signup-btn" type="button" value="Signup" onclick="location.href='/signup';")
    h1(class="text-center") #{title}
    block content
    - if (user && user.admin)
      footer
        hr
        p Logged in as admin.