doctype html
html
  head
    title Boomer Central
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    header
      - if (user)
        form(action="/logout", method="post")
          input(type="submit" value="Logout")
      - else
        input(type="button" value="Login" onclick="location.href='/login';")
      br
      h1 #{title}
    block content
    - if (user && user.admin)
      footer
        hr
        p Logged in as admin.