doctype html
html
  head
    title Boomer Central
    link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    nav(class="navbar nav-dark bg-dark")
      a(class="navbar-brand" href="/") Boomer Central
      - if (user)
        div(class="btn dropdown pull-right")
          button(class="btn btn-default dropdown-toggle" type="button" id="ddMoreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span(class="glyphicon glyphicon-menu-hamburger")
          ul(class="dropdown-menu dropdown-menu-right" aria-labelledby="ddMoreActions")
            li: a(href="/users/" + user.username) My Profile
            li: a(href="/users") User Directory
            li(role="separator" class="divider")
            li: a(onclick="$('#logout').submit()") Logout
        form(id="logout" action="/logout", method="post")
      - else
        ul(class="nav nav-pills float-right")
          li(class="nav-item"): a(class="nav-link" href="/signup") Signup
          li(class="nav-item"): a(class="nav-link" href="/login") Login
    h1(class="text-center") #{title}
    block content
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")