doctype html
html
  head
    title Boomer Central
    link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.css")
  body
    header
      - if (user)
        form(action="/logout", method="post")
          input(type="submit" value="Logout")
      - else
        input(class="login-btn" type="button" value="Login" onclick="location.href='/login';")
        input(class="signup-btn" type="button" value="Signup" onclick="location.href='/signup';")
      br
      h1 #{title}
    block content
    - if (user && user.admin)
      footer
        hr
        p Logged in as admin.